.flex-container {
  display: flex;
  background-color: aqua;
  width: 400px;
  margin-left: 750px;
  text-align: center;
  
}
body { 
  background-color: grey;
  background-repeat: no-repeat;
  
     }

.flex-container > div {
  background-color: black;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  
}