.flex-container {
  display: flex;
  background-color: aqua;
  width: 400px;
  margin-left: 750px;
  text-align: center;
  
}
body { 
  background-color: grey;
  background-repeat: no-repeat;
  
     }

.flex-container1 > div {
  background-color: black;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  
}
.flex-container2 > div {
  background-color: black;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  
}
.flex-container3 > div {
  background-color: black;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  
}
.flex-container4 > div {
  background-color: black;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  
}
.flex-container5 > div {
  background-color: black;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  
}
.flex-container6 > div {
  background-color: black;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  
}
.flex-container7 > div {
  background-color: black;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  
}
.flex-container8 > div {
  background-color: black;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  
}
.flex-container9 > div {
  background-color: black;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  
}
.flex-container10 > div {
  background-color: black;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  
}
.flex-container11 > div {
  background-color: black;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  
}
.flex-container12 > div {
  background-color: black;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  
}
.flex-container13 > div {
  background-color: black;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  
  
}
.flex-container14 > div {
  background-color: black;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  
}