<html> 
<title>AccessoryPage</title>
<link rel="stylesheet" href='../static/main.css'>
<body>
    
    <form action="http://127.0.0.1:5000/accessories" method="POST">
            <div class="navbar">
        <h1 class="h1StoreHeader">Bike Shop</h1>
        {% if activeuser == ''%}
        <a class="Login_Logout" href="/SignIn">Log in</a>
        {% else %}
        <a class="Login_Logout" href="/SignIn">Log out</a>
        {% endif %}
                    </a><ion-icon name="power"></ion-icon>
        <a href="http://127.0.0.1:5000/">Home</a>
        <a href="http://127.0.0.1:5000/Prebuild">Prebuild</a>
        <div class="dropdown">
        <a style="background-color: #f44336;"class="dropbtn" onclick="myFunction()">Customize/Parts
                        
                      </a>
        <div class="dropdown-content" id="myDropdown">
        <a href="http://127.0.0.1:5000/Roadbike">Road</a>
        <a href="http://127.0.0.1:5000/KidsBikes">Kids</a>
        <a href="http://127.0.0.1:5000/MountainBikes">Mountain</a>
        <a href="http://127.0.0.1:5000/BMXbikes">BMX</a>
        </div>
        <a href="http://127.0.0.1:5000/accessories">Accessories</a>
        <a href="http://127.0.0.1:5000/Overview">Cart</a>
        </div>
        </div>
        <br/>
       
        <script>
            
              function myFunction() {
                document.getElementById("myDropdown").classList.toggle("show");
              }
              
              
              window.onclick = function(e) {
                if (!e.target.matches('.dropbtn')) {
                var myDropdown = document.getElementById("myDropdown");
                  if (myDropdown.classList.contains('show')) {
                    myDropdown.classList.remove('show');
                  }
                }
              }
              </script>
    
    
    {{error}}
    <div class="flex-container1">
     <h2>Welcome To the Accessory Page!</h2>
     <h3>Please Select One of Our Signature Accessories:</h3>
 <br>
        <br>
        <h2>Helmets:</h2>
        
            <form class="form_"action="http://127.0.0.1:5000/accessories" method="POST" ><button name='bike' value='Helment1'><a class="prebuilt_" href="http://127.0.0.1:5000/accessories"> <p id="desc">Helmet  1</p>
            <p id="cost">$50</p><img id="img" title="Click Here To Go to the Overview Page" src="https://images.performancebike.com/cdn-cgi/image/f=auto,width=200/images/large/bikes/specialized/60921-0102.jpg" /></a></button></form>
            <form class="form_"action="http://127.0.0.1:5000/accessories" method="POST" ><button name='bike' value='Helment2'><a class="prebuilt_" href="http://127.0.0.1:5000/accessories"> <p id="desc">Helmet 2</p>
            <p id="cost">$50</p><img id="img" title="Click Here To Go to the Overview Page" src="https://images.performancebike.com/cdn-cgi/image/f=auto,width=200/images/large/bikes/specialized/60921-0102.jpg" /></a></button></form>
            <form class="form_"action="http://127.0.0.1:5000/accessories" method="POST" ><button name='bike' value='Helment3'><a class="prebuilt_" href="http://127.0.0.1:5000/accessories"> <p id="desc">Helmet 3</p>
            <p id="cost">$60</p><img id="img" title="Click Here To Go to the Overview Page" src="https://images.performancebike.com/cdn-cgi/image/f=auto,width=200/images/large/bikes/specialized/60921-0102.jpg" /></a></button></form>
            <form class="form_"action="http://127.0.0.1:5000/accessories" method="POST" ><button name='bike' value='Helment4'> <a class="prebuilt_" href="http://127.0.0.1:5000/accessories"> <p id="desc">Helmet 4</p>
            <p id="cost">$65</p><img id="img" title="Click Here To Go to the Overview Page" src="https://images.performancebike.com/cdn-cgi/image/f=auto,width=200/images/large/bikes/lazer/blc2217889730.jpg" /></a></button></form>
            <form class="form_"action="http://127.0.0.1:5000/accessories" method="POST" ><button name='bike' value='Helment5'> <a class="prebuilt_" href="http://127.0.0.1:5000/accessories"> <p id="desc">Helmet 5</p>
            <p id="cost">$70</p><img id="img" title="Click Here To Go to the Overview Page" src="https://images.performancebike.com/cdn-cgi/image/f=auto,width=200/images/large/bikes/lazer/blc2217889730.jpg" /></a></button></form>

            <br>
        <br>
        <br>
        <h2>Bells & Horns:</h2>
        <form class="form_"action="http://127.0.0.1:5000/accessories" method="POST" ><button name='bike' value='Bell1'> <a  class="prebuilt_" href="http://127.0.0.1:5000/accessories"><p id="desc">Bell 1</p>
            <p id="cost">$100</p><img id="img" title="Click Here To Go to the Overview Page " src="https://images.performancebike.com/cdn-cgi/image/f=auto,width=200/images/large/bikes/knog/n6012126.jpg" /></a></button></form>
            <form class="form_"action="http://127.0.0.1:5000/accessories" method="POST" ><button name='bike' value='Bell2'> <a  class="prebuilt_" href="http://127.0.0.1:5000/accessories"><p id="desc">Bell 2</p>
            <p id="cost">$150</p><img id="img" title="Click Here To Go to the Overview Page " src="https://images.performancebike.com/cdn-cgi/image/f=auto,width=200/images/large/bikes/knog/n6012126.jpg" /></a></button></form>
            <form class="form_"action="http://127.0.0.1:5000/accessories" method="POST" ><button name='bike' value='Bell3'>  <a  class="prebuilt_" href="http://127.0.0.1:5000/accessories"><p id="desc">Bell 3</p>
            <p id="cost">$180</p><img id="img" title="Click Here To Go to the Overview Page " src="https://images.performancebike.com/cdn-cgi/image/f=auto,width=200/images/large/bikes/knog/n6012126.jpg" /></a></button></form>
            <form class="form_"action="http://127.0.0.1:5000/accessories" method="POST" ><button name='bike' value='Bell4'> <a  class="prebuilt_" href="http://127.0.0.1:5000/accessories"><p id="desc">Horn 1</p>
            <p id="cost">$195</p><img id="img" title="Click Here To Go to the Overview Page " src="https://images.performancebike.com/cdn-cgi/image/f=auto,width=200/images/large/bikes/dimension/nh-44910.jpg" /></a></button></form>
            <form class="form_"action="http://127.0.0.1:5000/accessories" method="POST" ><button name='bike' value='Bell5'> <a  class="prebuilt_" href="http://127.0.0.1:5000/accessories"><p id="desc">Horn 2</p>
            <p id="cost">$200</p><img id="img" title="Click Here To Go to the Overview Page " src="https://images.performancebike.com/cdn-cgi/image/f=auto,width=200/images/large/bikes/dimension/nh-44910.jpg" /></a></button></form>

            <br>
        <br>
        <br>
        <h2>Lights:</h2>
        <form class="form_"action="http://127.0.0.1:5000/accessories" method="POST" ><button name='bike' value='Light1'> <a class="prebuilt_" href="http://127.0.0.1:5000/accessories"><p id="desc">Lights 1</p>
            <p id="cost">$150</p><img id="img"title="Click Here To Go to the Overview Page" src="https://images.performancebike.com/cdn-cgi/image/f=auto,width=200/images/large/bikes/supernova/ntr2-gry.jpg" /></a></button></form>
            <form class="form_"action="http://127.0.0.1:5000/accessories" method="POST" ><button name='bike' value='Light2'> <a class="prebuilt_" href="http://127.0.0.1:5000/accessories"><p id="desc">Lights 2</p>
            <p id="cost">$200</p><img id="img"title="Click Here To Go to the Overview Page" src="https://images.performancebike.com/cdn-cgi/image/f=auto,width=200/images/large/bikes/supernova/n-p3-mblk.jpg" /></a></button></form>
            <form class="form_"action="http://127.0.0.1:5000/accessories" method="POST" ><button name='bike' value='Light3'> <a class="prebuilt_" href="http://127.0.0.1:5000/accessories"><p id="desc">Lights 3</p>
            <p id="cost">$210</p><img id="img"title="Click Here To Go to the Overview Page" src="https://images.performancebike.com/cdn-cgi/image/f=auto,width=200/images/large/bikes/supernova/m-stk-blk.jpg" /></a></button></form>
            <form class="form_"action="http://127.0.0.1:5000/accessories" method="POST" ><button name='bike' value='Light4'> <a class="prebuilt_" href="http://127.0.0.1:5000/accessories"><p id="desc">Lights 4</p>
            <p id="cost">$220</p><img id="img"title="Click Here To Go to the Overview Page" src="https://images.performancebike.com/cdn-cgi/image/f=auto,width=200/images/large/bikes/supernova/ntr2-blk.jpg" /></a></button></form>
            <form class="form_"action="http://127.0.0.1:5000/accessories" method="POST" ><button name='bike' value='Light5'> <a class="prebuilt_" href="http://127.0.0.1:5000/accessories"><p id="desc">Lights 5</p>
            <p id="cost">$230 </p><img id="img"title="Click Here To Go to the Overview Page" src="https://images.performancebike.com/cdn-cgi/image/f=auto,width=200/images/large/bikes/cygolite/mtr-800-150.jpg" /></a></button></form>

       
            <br>


     <div class="footer2">
        <p>JeremyDaneWill© </p>
        <a href="https://www.instagram.com/?hl=en">Instagram</a>
        <a href="https://twitter.com/">Twitter</a>
        <a href="https://www.youtube.com/">Youtube</a>
        </div>
    </form>
    
</body>

</html>