<html> 
<title>Admin Page</title>
<body>
    <link rel="stylesheet" href='../static/main.css'>

    <form action="http://127.0.0.1:5000/AdminPage" method="POST">

    <div class="flex-container2">
        <h2>Welcome To the Admin Page!</h2>
        <p>image:</p>
        <input type='text' name='image'>
        <p>desc:</p>
        <input type="text" name='desc'>
        <p>price:</p>
        <input type="text" name='price'>
        <p>entry, choose 1-15:</p>
        <input type="text" name="entry">
        <br>
        <input type="submit">
        <a href="http://127.0.0.1:5000/Prebuild">check changes</a>
        <p>{{error}}</p>
    </div>
    </form>
</body>

</html>