<html> 
<title>BMX Bikes</title>
<body>
    <link rel="stylesheet" href='../static/main.css'>

  
        <div class="navbar">
            <h1 class="h1StoreHeader">Bike Shop</h1>
           
            <a  href="/" class="Login_Logout">Log out 
    
            </a ><ion-icon name="power"></ion-icon>
            
            <a href="http://127.0.0.1:5000/">Home</a>
            <a href="http://127.0.0.1:5000/Prebuild">Prebuild</a>
              <div class="dropdown">
              <a class="dropbtn" onclick="myFunction()">Customize/Parts
                
              </a>
              <div class="dropdown-content" id="myDropdown">
                    <a href="http://127.0.0.1:5000/Roadbike">Road</a>
                <a href="http://127.0.0.1:5000/KidsBikes">Kids</a>
                <a href="http://127.0.0.1:5000/MountainBikes">Mountain</a>
                <a style="color:  black" href="http://127.0.0.1:5000/MountainBikes">BMX </a>
           
              </div>
              <a href="http://127.0.0.1:5000/accessories">Accessories</a>
              <a href="http://127.0.0.1:5000/Overview">Cart</a>
            </div> 
          </div>  
           
          
            
          
    
    </div>
      <br>
     
     
    
    <script>
    
      function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
      }
      
      
      window.onclick = function(e) {
        if (!e.target.matches('.dropbtn')) {
        var myDropdown = document.getElementById("myDropdown");
          if (myDropdown.classList.contains('show')) {
            myDropdown.classList.remove('show');
          }
        }
      }
      </script>
    
    
    </div>
    <div class="flex-container12">
        <h2>Welcome To the BMX Bike Page!</h2>
        <h3>Please Select One of our Customizable Options:</h3>
      
        <br>
        <br>
        <h2>Saddles & Seats:</h2>
        
        <form class="form_"action="http://127.0.0.1:5000/BMXbikes" method="POST" ><button name='bike' value='Seat1'><a class="prebuilt_" href="http://127.0.0.1:5000/Overview"> <p id="desc">Seat  1</p>
            <p id="cost">$50</p><img id="img" title="Click Here To Go to the Accessories Page" src="https://images.performancebike.com/cdn-cgi/image/f=auto,width=200/images/large/bikes/fizik/f208urna24873.jpg" /></a></button></form>
            <form class="form_"action="http://127.0.0.1:5000/BMXbikes" method="POST" ><button name='bike' value='Seat2'><a class="prebuilt_" href="http://127.0.0.1:5000/Overview"> <p id="desc">Seat 2</p>
            <p id="cost">$50</p><img id="img" title="Click Here To Go to the Accessories Page" src="https://images.performancebike.com/cdn-cgi/image/f=auto,width=200/images/large/bikes/ism/vl9106blk.jpg" /></a></button></form>
            <form class="form_"action="http://127.0.0.1:5000/BMXbikes" method="POST" ><button name='bike' value='Seat3'><a class="prebuilt_" href="http://127.0.0.1:5000/Overview"> <p id="desc">Seat 3</p>
            <p id="cost">$60</p><img id="img" title="Click Here To Go to the Accessories Page" src="https://images.performancebike.com/cdn-cgi/image/f=auto,width=200/images/large/bikes/specialized/27322-3005.jpg" /></a></button></form>
            <form class="form_"action="http://127.0.0.1:5000/BMXbikes" method="POST" ><button name='bike' value='Seat4'> <a class="prebuilt_" href="http://127.0.0.1:5000/Overview"> <p id="desc">Seat 4</p>
            <p id="cost">$65</p><img id="img" title="Click Here To Go to the Accessories Page" src="https://images.performancebike.com/cdn-cgi/image/f=auto,width=200/images/large/bikes/chromag/130-011-21.jpg" /></a></button></form>
            <form class="form_"action="http://127.0.0.1:5000/BMXbikes" method="POST" ><button name='bike' value='Seat5'> <a class="prebuilt_" href="http://127.0.0.1:5000/Overview"> <p id="desc">Seat 5</p>
            <p id="cost">$70</p><img id="img" title="Click Here To Go to the Accessories Page" src="https://images.performancebike.com/cdn-cgi/image/f=auto,width=200/images/large/bikes/forte/50-4173-blk-non.jpg" /></a></button></form>

            <br>
        <br>
        <br>
        <h2>Pedals:</h2>
        <form class="form_"action="http://127.0.0.1:5000/BMXbikes" method="POST" ><button name='bike' value='Pedal1'><a  class="prebuilt_" href="http://127.0.0.1:5000/Overview"><p id="desc">Pedals 1</p>
            <p id="cost">$100</p><img id="img" title="Click Here To Go to the Accessories Page " src="https://images.performancebike.com/cdn-cgi/image/f=auto,width=200/images/large/bikes/shimano/ipdr9100.jpg" /></a></button></form>
            <form class="form_" action="http://127.0.0.1:5000/BMXbikes" method="POST" ><button name='bike' value='Pedal2'> <a  class="prebuilt_" href="http://127.0.0.1:5000/Overview"><p id="desc">pedals 2</p>
            <p id="cost">$150</p><img id="img" title="Click Here To Go to the Accessories Page " src="https://images.performancebike.com/cdn-cgi/image/f=auto,width=200/images/large/bikes/crankbrothers/15982.jpg" /></a></button></form>
            <form class="form_"action="http://127.0.0.1:5000/BMXbikes" method="POST" ><button name='bike' value='Pedal3'>  <a  class="prebuilt_" href="http://127.0.0.1:5000/Overview"><p id="desc">Pedals 3</p>
            <p id="cost">$180</p><img id="img" title="Click Here To Go to the Accessories Page " src="https://images.performancebike.com/cdn-cgi/image/f=auto,width=200/images/large/bikes/shimano/ipdm9120.jpg" /></a></button></form>
            <form class="form_"action="http://127.0.0.1:5000/BMXbikes" method="POST" ><button name='bike' value='Pedal4'> <a  class="prebuilt_" href="http://127.0.0.1:5000/Overview"><p id="desc">Pedals 4</p>
            <p id="cost">$195</p><img id="img" title="Click Here To Go to the Accessories Page " src="https://images.performancebike.com/cdn-cgi/image/f=auto,width=200/images/large/bikes/crankbrothers/15991.jpg" /></a></button></form>
            <form class="form_"action="http://127.0.0.1:5000/BMXbikes" method="POST" ><button name='bike' value='Pedal5'> <a  class="prebuilt_" href="http://127.0.0.1:5000/Overview"><p id="desc">Pedals 5</p>
            <p id="cost">$200</p><img id="img" title="Click Here To Go to the Accessories Page " src="https://images.performancebike.com/cdn-cgi/image/f=auto,width=200/images/large/bikes/xpedo/xrf11cc.jpg" /></a></button></form>

            <br>
        <br>
        <br>
        <h2>HANDLEBARS:</h2>
        <form class="form_" action="http://127.0.0.1:5000/BMXbikes" method="POST" ><button name='bike' value='Handlebar1'> <a class="prebuilt_" href="http://127.0.0.1:5000/Overview"><p id="desc">Handlebars 1</p>
            <p id="cost">$150</p><img id="img"title="Click Here To Go to the Accessories Page" src="https://images.performancebike.com/cdn-cgi/image/f=auto,width=200/images/large/bikes/surly/04-000997-46.jpg" /></a></button></form>
            <form class="form_"action="http://127.0.0.1:5000/BMXbikes" method="POST" ><button name='bike' value='Handlebar2'> <a class="prebuilt_" href="http://127.0.0.1:5000/Overview"><p id="desc">Handlebars 2</p>
            <p id="cost">$200</p><img id="img"title="Click Here To Go to the Accessories Page" src="https://images.performancebike.com/cdn-cgi/image/f=auto,width=200/images/large/bikes/specialized/21017-0042.jpg" /></a></button></form>
            <form class="form_"action="http://127.0.0.1:5000/BMXbikes" method="POST" ><button name='bike' value='Handlebar3'> <a class="prebuilt_" href="http://127.0.0.1:5000/Overview"><p id="desc">Handlebars 3</p>
            <p id="cost">$210</p><img id="img"title="Click Here To Go to the Accessories Page" src="https://images.performancebike.com/cdn-cgi/image/f=auto,width=200/images/large/bikes/spank/han1216.jpg" /></a></button></form>
            <form class="form_"action="http://127.0.0.1:5000/BMXbikes" method="POST" ><button name='bike' value='Handlebar4'> <a class="prebuilt_" href="http://127.0.0.1:5000/Overview"><p id="desc">Handlebars 4</p>
            <p id="cost">$220</p><img id="img"title="Click Here To Go to the Accessories Page" src="https://images.performancebike.com/cdn-cgi/image/f=auto,width=200/images/large/bikes/ritchey/30375457001.jpg" /></a></button></form>
            <form class="form_"action="http://127.0.0.1:5000/BMXbikes" method="POST" ><button name='bike' value='Handlebar5'> <a class="prebuilt_" href="http://127.0.0.1:5000/Overview"><p id="desc">Handlebars 5</p>
            <p id="cost">$230 </p><img id="img"title="Click Here To Go to the Accessories Page" src="https://images.performancebike.com/cdn-cgi/image/f=auto,width=200/images/large/bikes/pro/prha0435.jpg" /></a></button></form>

       
            <br>
        <br>
       <br>
       <h2>SHIFTERS:</h2>
       <form class="form_"action="http://127.0.0.1:5000/BMXbikes" method="POST" ><button name='bike' value='Shifter1'> <a class="prebuilt_" href="http://127.0.0.1:5000/Overview"><p id="desc">Shifter 1</p>
            <p id="cost">$200</p><img id="img" title="Click Here To Go to the Accessories Page" src="https://images.performancebike.com/cdn-cgi/image/f=auto,width=200/images/large/bikes/sram/00.7018.393.001.jpg" /></a></button></form>
            <form class="form_"action="http://127.0.0.1:5000/BMXbikes" method="POST" ><button name='bike' value='Shifter2'> <a class="prebuilt_" href="http://127.0.0.1:5000/Overview"><p id="desc">Shifter 2</p>
            <p id="cost">$155</p><img id="img" title="Click Here To Go to the Accessories Page" src="https://images.performancebike.com/cdn-cgi/image/f=auto,width=200/images/large/bikes/shimano/eslm31002lb.jpg " /></a></button></form>
            <form class="form_"action="http://127.0.0.1:5000/BMXbikes" method="POST" ><button name='bike' value='Shifter3'><a class="prebuilt_" href="http://127.0.0.1:5000/Overview"><p id="desc">Shifter 3</p>
            <p id="cost">$160</p><img id="img" title="Click Here To Go to the Accessories Page" src="https://images.performancebike.com/cdn-cgi/image/f=auto,width=200/images/large/bikes/shimano/estr2000lia.jpg" /></a></button></form>
            <form class="form_"action="http://127.0.0.1:5000/BMXbikes" method="POST" ><button name='bike' value='Shifter4'> <a class="prebuilt_" href="http://127.0.0.1:5000/Overview"><p id="desc">Shifter 4</p>
            <p id="cost">$185</p><img id="img" title="Click Here To Go to the Accessories Page" src="https://images.performancebike.com/cdn-cgi/image/f=auto,width=200/images/large/bikes/shimano/istr8000dpa.jpg" /></a></button></form>
            <form class="form_"action="http://127.0.0.1:5000/BMXbikes" method="POST" ><button name='bike' value='Shifter5'> <a class="prebuilt_" href="http://127.0.0.1:5000/Overview"><p id="desc">Shifter 5</p>
            <p id="cost">$300</p><img id="img" title="Click Here To Go to the Accessories Page" src="https://images.performancebike.com/cdn-cgi/image/f=auto,width=200/images/large/bikes/sunrace/slr96.lfb0.0s1.hp.jpg" /></a></button></form>
        
        <br>
        <br>
        <br>
       <br>
       <h2>CHAINRINGS:</h2>
       <form class="form_"action="http://127.0.0.1:5000/BMXbikes" method="POST" ><button name='bike' value='Chainring1'><a class="prebuilt_" href="http://127.0.0.1:5000/Overview"><p id="desc">ChainRing 1</p>
            <p id="cost">$150</p><img id="img" title="Click Here To Go to the Accessories Page" src="https://images.performancebike.com/cdn-cgi/image/f=auto,width=200/images/large/bikes/dimension/cr0414.jpg" /></a></button></form>
            <form class="form_"action="http://127.0.0.1:5000/BMXbikes" method="POST" ><button name='bike' value='Chainring2'><a class="prebuilt_" href="http://127.0.0.1:5000/Overview"><p id="desc">ChainRing 2</p>
            <p id="cost">$155</p><img id="img" title="Click Here To Go to the Accessories Page" src="https://images.performancebike.com/cdn-cgi/image/f=auto,width=200/images/large/bikes/cannondale/cu4041ai32.jpg" /></a></button></form>
            <form class="form_"action="http://127.0.0.1:5000/BMXbikes" method="POST" ><button name='bike' value='Chainring3'> <a class="prebuilt_" href="http://127.0.0.1:5000/Overview"><p id="desc">ChainRing 3</p>
            <p id="cost">$160</p><img id="img" title="Click Here To Go to the Accessories Page" src="https://images.performancebike.com/cdn-cgi/image/f=auto,width=200/images/large/bikes/cannondale/cu4041ai32.jpg" /></a></button></form>
            <form class="form_"action="http://127.0.0.1:5000/BMXbikes" method="POST" ><button name='bike' value='Chainring4'> <a class="prebuilt_" href="http://127.0.0.1:5000/Overview"><p id="desc">ChainRing 4</p>
            <p id="cost">$170</p><img id="img" title="Click Here To Go to the Accessories Page" src="https://images.performancebike.com/cdn-cgi/image/f=auto,width=200/images/large/bikes/sram/11.6218.042.007.jpg" /></a></button></form>
            <form class="form_"action="http://127.0.0.1:5000/BMXbikes" method="POST" ><button name='bike' value='Chainring5'> <a class="prebuilt_" href="http://127.0.0.1:5000/Overview"><p id="desc">ChainRing 5</p>
            <p id="cost">$190</p><img id="img" title="Click Here To Go to the Accessories Page" src="https://images.performancebike.com/cdn-cgi/image/f=auto,width=200/images/large/bikes/campagnolo/fc-cx246.jpg" /></a></button></form>
        
        <br>
        <br>
        <br>
       <br>
       <h2>CHAINS:</h2>
       <form class="form_"action="http://127.0.0.1:5000/BMXbikes" method="POST" ><button name='bike' value='Chain1'><a class="prebuilt_" href="http://127.0.0.1:5000/Overview"><p id="desc">CHAINS 1</p>
            <p id="cost">$15</p><img id="img" title="Click Here To Go to the Accessories Page" src="https://images.performancebike.com/cdn-cgi/image/f=auto,width=200/images/large/bikes/shimano/cn-6701.jpg" /></a></button></form>
            <form class="form_"action="http://127.0.0.1:5000/BMXbikes" method="POST" ><button name='bike' value='Chain2'> <a class="prebuilt_" href="http://127.0.0.1:5000/Overview"><p id="desc">CHAINS 2</p>
            <p id="cost">$15</p><img id="img" title="Click Here To Go to the Accessories Page" src="https://images.performancebike.com/cdn-cgi/image/f=auto,width=200/images/large/bikes/sram/87.2745.114.105.jpg" /></a></button></form>
            <form class="form_"action="http://127.0.0.1:5000/BMXbikes" method="POST" ><button name='bike' value='Chain3'> <a class="prebuilt_" href="http://127.0.0.1:5000/Overview"><p id="desc">CHAINS 3</p>
            <p id="cost">$16</p><img id="img" title="Click Here To Go to the Accessories Page" src="https://images.performancebike.com/cdn-cgi/image/f=auto,width=200/images/large/bikes/sram/46.2758.114.005.jpg" /></a></button></form>
            <form class="form_"action="http://127.0.0.1:5000/BMXbikes" method="POST" ><button name='bike' value='Chain4'> <a class="prebuilt_" href="http://127.0.0.1:5000/Overview"><p id="desc">CHAINS 4</p>
            <p id="cost">$17</p><img id="img" title="Click Here To Go to the Accessories Page" src="https://images.performancebike.com/cdn-cgi/image/f=auto,width=200/images/large/bikes/shimano/icnhg93116i.jpg" /></a></button></form>
            <form class="form_"action="http://127.0.0.1:5000/BMXbikes" method="POST" ><button name='bike' value='Chain5'> <a class="prebuilt_" href="http://127.0.0.1:5000/Overview"><p id="desc">CHAINS 5</p>
            <p id="cost">$19</p><img id="img" title="Click Here To Go to the Accessories Page" src="https://images.performancebike.com/cdn-cgi/image/f=auto,width=200/images/large/bikes/sram/47.2708.114.005.jpg" /></a></button></form>
        
        <br>
        <br>
        <br>
       <br>
       <h2>SUSPENSION:</h2>
       <form class="form_"action="http://127.0.0.1:5000/BMXbikes" method="POST" ><button name='bike' value='Suspension1'> <a class="prebuilt_" href="http://127.0.0.1:5000/Overview"><p id="desc">Suspension 1</p>
            <p id="cost">$15</p><img id="img" title="Click Here To Go to the Accessories Page" src="https://images.performancebike.com/cdn-cgi/image/f=auto,width=200/images/large/bikes/specialized/s161500153.jpg" /></a></button></form>
            <form class="form_"action="http://127.0.0.1:5000/BMXbikes" method="POST" ><button name='bike' value='Suspension2'> <a class="prebuilt_" href="http://127.0.0.1:5000/Overview"><p id="desc">Suspension 2</p>
            <p id="cost">$15</p><img id="img" title="Click Here To Go to the Accessories Page" src="https://images.performancebike.com/cdn-cgi/image/f=auto,width=200/images/large/bikes/specialized/s161500153.jpg" /></a></button></form>
            <form class="form_"action="http://127.0.0.1:5000/BMXbikes" method="POST" ><button name='bike' value='Suspension3'> <a class="prebuilt_" href="http://127.0.0.1:5000/Overview"><p id="desc">Suspension 3</p>
            <p id="cost">$16</p><img id="img" title="Click Here To Go to the Accessories Page" src="https://images.performancebike.com/cdn-cgi/image/f=auto,width=200/images/large/bikes/specialized/s161500153.jpg" /></a></button></form>
            <form class="form_"action="http://127.0.0.1:5000/BMXbikes" method="POST" ><button name='bike' value='Suspension4'> <a class="prebuilt_" href="http://127.0.0.1:5000/Overview"><p id="desc">Suspension 4</p>
            <p id="cost">$17</p><img id="img" title="Click Here To Go to the Accessories Page" src="https://images.performancebike.com/cdn-cgi/image/f=auto,width=200/images/large/bikes/specialized/s161500153.jpg" /></a></button></form>
            <form class="form_"action="http://127.0.0.1:5000/BMXbikes" method="POST" ><button name='bike' value='Suspension5'> <a class="prebuilt_" href="http://127.0.0.1:5000/Overview"><p id="desc">Suspension 5</p>
            <p id="cost">$19</p><img id="img" title="Click Here To Go to the Accessories Page" src="https://images.performancebike.com/cdn-cgi/image/f=auto,width=200/images/large/bikes/specialized/s161500153.jpg" /></a></button></form>
        
        <br>
  
        <br>
        <br>
        <h2>TIRES:</h2>
        <form class="form_"action="http://127.0.0.1:5000/BMXbikes" method="POST" ><button name='bike' value='Tire1'><a class="prebuilt_" href="http://127.0.0.1:5000/Overview"><p id="desc">Tire 1</p>
             <p id="cost">$1200</p><img id="img" title="Click Here To Go to the Accessories Page" src="https://images.performancebike.com/cdn-cgi/image/f=auto,width=200/images/large/bikes/zipp/00.1918.522.000.jpg" /></a></button></form>
             <form class="form_"action="http://127.0.0.1:5000/BMXbikes" method="POST" ><button name='bike' value='Tire2'> <a class="prebuilt_" href="http://127.0.0.1:5000/Overview"><p id="desc">Tire 2</p>
             <p id="cost">$1500</p><img id="img" title="Click Here To Go to the Accessories Page" src="https://images.performancebike.com/cdn-cgi/image/f=auto,width=200/images/large/bikes/shimano/ewhr8170c60lfered.jpg" /></a></button></form>
             <form class="form_"action="http://127.0.0.1:5000/BMXbikes" method="POST" ><button name='bike' value='Tire3'> <a class="prebuilt_" href="http://127.0.0.1:5000/Overview"><p id="desc">Tire 3</p>
             <p id="cost">$1650</p><img id="img" title="Click Here To Go to the Accessories Page" src="https://images.performancebike.com/cdn-cgi/image/f=auto,width=200/images/large/bikes/hed/alt-4114121.jpg" /></a></button></form>
             <form class="form_"action="http://127.0.0.1:5000/BMXbikes" method="POST" ><button name='bike' value='Tire4'> <a class="prebuilt_" href="http://127.0.0.1:5000/Overview"><p id="desc">Tire 4</p>
             <p id="cost">$1700</p><img id="img" title="Click Here To Go to the Accessories Page" src="https://images.performancebike.com/cdn-cgi/image/f=auto,width=200/images/large/bikes/qualitywheels/we1117.jpg" /></a></button></form>
             <form class="form_"action="http://127.0.0.1:5000/BMXbikes" method="POST" ><button name='bike' value='Tire5'> <a class="prebuilt_" href="http://127.0.0.1:5000/Overview"><p id="desc">Tire 5</p>
             <p id="cost">$1900</p><img id="img" title="Click Here To Go to the Accessories Page" src="https://images.performancebike.com/cdn-cgi/image/f=auto,width=200/images/large/bikes/specialized/30121-8601.jpg" /></a></button></form>
         
         <br>


        
    
    </div>
    <div class="footer2">
        <p>JeremyDaneWill© </p>
        <a href="https://www.instagram.com/?hl=en">Instagram</a>
        <a href="https://twitter.com/">Twitter</a>
        <a href="https://www.youtube.com/">Youtube</a>

</body>

</html>