<link rel="stylesheet" href='../Static/main.css'>

<p>Enter review</p>


<form action="http://127.0.0.1:5000/end" method="POST">
    <button name='five' value='five'>Five Stars</button>
    <button name='five' value='four'>Four Stars</button>
    <button name='five' value='three'>Three Stars</button>
    <button name='five' value='two'>Two Stars</button>
    <button name='five' value='one'>One Star</button>

<input type="text" placeholder="Enter review" name='review'>


</form>

<form action="http://127.0.0.1:5000/end" method="GET"> 
    <p>here are some of our previously submitted reviews</p>
    {{review}}
</form>


