<html> 
<title>PaymentPage</title>
<body>
    <link rel="stylesheet" href='../static/main.css'>

    <form action="http://127.0.0.1:5000/PaymentPage" method="POST">
      <div class="navbar">
        <h1 class="h1StoreHeader">Bike Shop</h1>
        {% if activeuser == ''%}
        <a class="Login_Logout" href="/SignIn">Log in</a>
        {% else %}
        <a class="Login_Logout" href="/SignIn">Log out</a>
        {% endif %}
        </a ><ion-icon name="power"></ion-icon>
        
        <a href="http://127.0.0.1:5000/">Home</a>
        <a href="http://127.0.0.1:5000/Prebuild">Prebuild</a>
          <div class="dropdown">
          <a style="background-color: #f44336;" class="dropbtn" onclick="myFunction()">Customize/Parts
            
          </a>
          <div class="dropdown-content" id="myDropdown">
            <a href="http://127.0.0.1:5000/RoadBikes">Road</a>
            <a href="http://127.0.0.1:5000/KidsBikes">Kids</a>
            <a  style="color:  black" href="http://127.0.0.1:5000/MountainBikes">Mountain</a>
            <a href="http://127.0.0.1:5000/BMXbikes">BMX</a>
       
          </div>
          <a href="http://127.0.0.1:5000/accessories">Accessories</a>
          <a href="http://127.0.0.1:5000/Overview">Cart</a>
        </div> 
      </div>  
</div>
          <div class="list_p flexbox1" >

        
            <h3 >Name</h3>
            {% for item in part%}
            <ul  style="list-style-type:none;">
              <li>{{item}}</li>
            </ul>
           {% endfor %}
        </div> 
        <div class="list_p flexbox1">
            <h3 >price</h3>
            {% for item in price%}
            <ul  style="list-style-type:none;">
              <li>${{item}}</li>
            </ul>
            {% endfor %}
        </div>
        <h2>Please Enter Your Info To Checkout!</h2>
        <p >FirstName: <input type="text" name="name"></p>
        <p >LastName: <input type="text" name="user"></p>
        <p >Address: <input class="p_payment1"type="text" name="mail"></p>
        <p >CreditCard: <input class="p_payment2"type="text" name="name"></p>
        <a href="http://127.0.0.1:5000/end" class="Payment_input">Checkout</a>
        <div class="footer">
            <p>JeremyDaneWill© </p>
            <a href="https://www.instagram.com/?hl=en">Instagram</a>
            <a href="https://twitter.com/">Twitter</a>
            <a href="https://www.youtube.com/">Youtube</a>
    </form>
    </div>
</body>

</html>