<html>
<title>Prebuilt Bikes</title>
<body>
<link href="../static/main.css" rel="stylesheet"/>
<div class="navbar">
<h1 class="h1StoreHeader">Bike Shop</h1>
<a class="Login_Logout" href="/">Log out 
    
            </a><ion-icon name="power"></ion-icon>
<a href="http://127.0.0.1:5000/">Home</a>
<a href="http://127.0.0.1:5000/Prebuild">Prebuild</a>
<div class="dropdown">
<a style="background-color: #f44336;" class="dropbtn" onclick="myFunction()">Customize/Parts
                
              </a>
<div class="dropdown-content" id="myDropdown">
<a href="http://127.0.0.1:5000/Roadbikes">Road</a>
<a href="http://127.0.0.1:5000/KidsBikes">Kids</a>
<a href="http://127.0.0.1:5000/MountainBikes">Mountain</a>
<a href="http://127.0.0.1:5000/BMXbikes">BMX</a>
</div>
<a href="http://127.0.0.1:5000/accessories">Accessories</a>   
<a href="http://127.0.0.1:5000/Overview">Cart</a>
</div>
</div>
<br/>
<script>
        let slideIndex = 1;
        showSlides(slideIndex);
        
        function plusSlides(n) {
          showSlides(slideIndex += n);
        }
        
        function currentSlide(n) {
          showSlides(slideIndex = n);
        }
        
        function showSlides(n) {
          let i;
          let slides = document.getElementsByClassName("mySlides");
          let dots = document.getElementsByClassName("dot");
          if (n > slides.length) {slideIndex = 1}    
          if (n < 1) {slideIndex = slides.length}
          for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";  
          }
          for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
          }
          slides[slideIndex-1].style.display = "block";  
          dots[slideIndex-1].className += " active";
        }
        </script>
<script>
    
      function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
      }
      
      
      window.onclick = function(e) {
        if (!e.target.matches('.dropbtn')) {
        var myDropdown = document.getElementById("myDropdown");
          if (myDropdown.classList.contains('show')) {
            myDropdown.classList.remove('show');
          }
        }
      }
      </script>
<p></p>
<div class="flex-container10">
<h2>Welcome To the Prebuilt Bike Page!</h2>
<h3>Please Select One of our Prebuilt Bikes:</h3>
<br/>
<br/>
<h2>Road Bikes:</h2>
<form class="form_" action="{{ url_for('Prebuild')}}" method="post"><button name="kids" value="Kfirst"><a class="prebuilt_" href="http://127.0.0.1:5000/Overview"><p id="1">Road Bike 1</p><cost id="1">$600</cost><img id="1" src="https://media.wired.com/photos/61afb905d184762c75e00411/master/pass/Gear-Jackbrabbit-Bike-Yellow-top.jpg" title="Click Here To Go to the Overview Page "/></a></button></form>
<form class="form_"action="{{ url_for('Prebuild')}}" method="post"><button name="kids" value="Ksecond"><a class="prebuilt_" href="http://127.0.0.1:5000/Overview"><p id="2">Road Bike 2</p><cost id="2">$600</cost><img id="2" src="https://media.wired.com/photos/61afb905d184762c75e00411/master/pass/Gear-Jackbrabbit-Bike-Yellow-top.jpg" title="Click Here To Go to the Overview Page "/></a></button></form>
<form class="form_"action="{{ url_for('Prebuild')}}" method="post"><button name="kids" value="Kthird"><a class="prebuilt_" href="http://127.0.0.1:5000/Overview"><p id="3">Road Bike 3</p><cost id="3">$600</cost><img id="3" src="https://media.wired.com/photos/61afb905d184762c75e00411/master/pass/Gear-Jackbrabbit-Bike-Yellow-top.jpg" title="Click Here To Go to the Overview Page "/></a></button></form>
<form class="form_"action="{{ url_for('Prebuild')}}" method="post"><button name="kids" value="Kfourth"><a class="prebuilt_" href="http://127.0.0.1:5000/Overview"><p id="4">Road Bike 4</p>
<cost id="4">$600</cost><img id="4" src="https://images.performancebike.com/cdn-cgi/image/f=auto,width=200/images/large/bikes/surly/bk3506.jpg" title="Click Here To Go to the Overview Page "/></a></button></form>
<form class="form_" action="{{ url_for('Prebuild')}}" method="post"><button name="kids" value="Kfifth"><a class="prebuilt_" href="http://127.0.0.1:5000/Overview"><p id="5">Road Bike 5</p>
<cost id="5">5</cost><img id="5" src="https://images.performancebike.com/cdn-cgi/image/f=auto,width=200/images/large/bikes/surly/bk3506.jpg" title="Click Here To Go to the Overview Page "/></a></button></form>

<br/>
<br/>
<br/>
<h2>Kids Bikes:</h2>
<form class="form_" action="{{ url_for('Prebuild')}}" method="post"><button name="kids" value="Kfirst"><a class="prebuilt_" href="http://127.0.0.1:5000/Overview"><p id="1">Kids Bike 1</p><cost id="1">$600</cost><img id="1" src="https://media.wired.com/photos/61afb905d184762c75e00411/master/pass/Gear-Jackbrabbit-Bike-Yellow-top.jpg" title="Click Here To Go to the Overview Page "/></a></button></form>
<form class="form_"action="{{ url_for('Prebuild')}}" method="post"><button name="kids" value="Ksecond"><a class="prebuilt_" href="http://127.0.0.1:5000/Overview"><p id="2">Kids Bike 2</p><cost id="2">$700</cost><img id="2" src="https://media.wired.com/photos/61afb905d184762c75e00411/master/pass/Gear-Jackbrabbit-Bike-Yellow-top.jpg" title="Click Here To Go to the Overview Page "/></a></button></form>
<form class="form_"action="{{ url_for('Prebuild')}}" method="post"><button name="kids" value="Kthird"><a class="prebuilt_" href="http://127.0.0.1:5000/Overview"><p id="3">Kids Bike 3</p><cost id="3">$800</cost><img id="3" src="https://media.wired.com/photos/61afb905d184762c75e00411/master/pass/Gear-Jackbrabbit-Bike-Yellow-top.jpg" title="Click Here To Go to the Overview Page "/></a></button></form>
<form class="form_"action="{{ url_for('Prebuild')}}" method="post"><button name="kids" value="Kfourth"><a class="prebuilt_" href="http://127.0.0.1:5000/Overview"><p id="4">Kids Bike 4</p>
<cost id="4">$850</cost><img id="4" src="https://images.performancebike.com/cdn-cgi/image/f=auto,width=200/images/large/bikes/kink/bk405pur22.jpg" title="Click Here To Go to the Overview Page "/></a></button></form>
<form class="form_" action="{{ url_for('Prebuild')}}" method="post"><button name="kids" value="Kfifth"><a class="prebuilt_" href="http://127.0.0.1:5000/Overview"><p id="5">Kids Bike 5</p>
<cost id="5">$900</cost><img id="5" src="https://media.wired.com/photos/61afb905d184762c75e00411/master/pass/Gear-Jackbrabbit-Bike-Yellow-top.jpg" title="Click Here To Go to the Overview Page "/></a></button></form>
<br/>
<br/>
<br/>
<h2>Mountain Bikes:</h2>
<form class="form_"action="{{ url_for('Prebuild')}}" method="post"><button name="Mountain" value="Mfirst"><a class="prebuilt_" href="http://127.0.0.1:5000/Overview"><p id="6">Mountain Bike 1</p>
<cost id="6">$950</cost><img id="6" src="https://images.performancebike.com/cdn-cgi/image/f=auto,width=200/images/large/bikes/surly/bk3506.jpg" title="Click Here To Go to the Overview Page"/></a></button></form>
<form class="form_"action="{{ url_for('Prebuild')}}" method="post"><button name="Mountain" value="Msecond"><a class="prebuilt_" href="http://127.0.0.1:5000/Overview"><p id="7">Mountain Bike 2</p><cost id="7">$1000</cost><img id="7" src="https://images.performancebike.com/cdn-cgi/image/f=auto,width=200/images/large/bikes/surly/bk3506.jpg" title="Click Here To Go to the Overview Page"/></a></button></form>
<form class="form_"action="{{ url_for('Prebuild')}}" method="post"><button name="Mountain" value="Mthird"> <a class="prebuilt_" href="http://127.0.0.1:5000/Overview"><p id="8">Mountain Bike 3</p><cost id="8">$1100</cost><img id="8" src="https://images.performancebike.com/cdn-cgi/image/f=auto,width=200/images/large/bikes/surly/bk3506.jpg" title="Click Here To Go to the Overview Page"/></a></button></form>
<form class="form_"action="{{ url_for('Prebuild')}}" method="post"><button name="Mountain" value="Mfourth"><a class="prebuilt_" href="http://127.0.0.1:5000/Overview"><p id="9">Mountain Bike 4</p><cost id="9">$1200</cost><img id="9" src="https://images.performancebike.com/cdn-cgi/image/f=auto,width=200/images/large/bikes/surly/bk3506.jpg" title="Click Here To Go to the Overview Page"/></a></button></form>
<form class="form_"action="{{ url_for('Prebuild')}}" method="post"><button name="Mountain" value="Mfifth"><a class="prebuilt_" href="http://127.0.0.1:5000/Overview"><p id="10">Mountain Bike 5</p><cost id="10">$500</cost><img id="10" src="https://media.wired.com/photos/61afb905d184762c75e00411/master/pass/Gear-Jackbrabbit-Bike-Yellow-top.jpg" title="Click Here To Go to the Overview Page"/></a></button></form>
<br/>
<br/>
<br/>
<h2>BMX Bikes:</h2>
<form class="form_"action="{{ url_for('Prebuild')}}" method="post"><button name="b" value="Bfirst"><a class="prebuilt_" href="http://127.0.0.1:5000/Overview"><p id="11">Bmx Bike 1</p><cost id="11">$1500</cost><img id="11" src="https://images.performancebike.com/cdn-cgi/image/f=auto,width=200/images/large/bikes/surly/bk3506.jpg" title="Click Here To Go to the Overview Page"/></a></button></form>
<form class="form_"action="{{ url_for('Prebuild')}}" method="post"><button name="b" value="Bsecond"> <a class="prebuilt_" href="http://127.0.0.1:5000/Overview"><p id="12">Bmx Bike 2</p><cost id="12">$1550</cost><img id="12" src="https://images.performancebike.com/cdn-cgi/image/f=auto,width=200/images/large/bikes/surly/bk3506.jpg" title="Click Here To Go to the Overview Page"/></a></button></form>
<form class="form_"action="{{ url_for('Prebuild')}}" method="post"><button name="b" value="Bthird"> <a class="prebuilt_" href="http://127.0.0.1:5000/Overview"><p id="13">Bmx Bike 3</p><cost id="13">$1600<img id="13" src="https://images.performancebike.com/cdn-cgi/image/f=auto,width=200/images/large/bikes/surly/bk3506.jpg" title="Click Here To Go to the Overview Page"/></cost></a></button></form>
<form class="form_"action="{{ url_for('Prebuild')}}" method="post"><button name="b" value="Bfourth"> <a class="prebuilt_" href="http://127.0.0.1:5000/Overview"><p id="14">Bmx Bike 4</p><cost id="14">$1705</cost><img id="14" src="https://images.performancebike.com/cdn-cgi/image/f=auto,width=200/images/large/bikes/surly/bk3506.jpg" title="Click Here To Go to the Overview Page"/></a></button></form>
<form class="form_"action="{{ url_for('Prebuild')}}" method="post"><button name="b" value="Bfifth"> <a class="prebuilt_" href="http://127.0.0.1:5000/Overview"><p id="15">Bmx Bike 5</p><cost id="15">$1900</cost><img id="15" src="https://images.performancebike.com/cdn-cgi/image/f=auto,width=200/images/large/bikes/surly/bk3506.jpg" title="Click Here To Go to the Overview Page"/></a></button></form>
<br/>
</div>
<div class="footer2">
<p>JeremyDaneWill© </p>
<a href="https://www.instagram.com/?hl=en">Instagram</a>
<a href="https://twitter.com/">Twitter</a>
<a href="https://www.youtube.com/">Youtube</a>
</div></body>
</html>