<html> 
<title>Register</title>
<body>
    <link rel="stylesheet" href='../static/main.css'>

        <form action="http://127.0.0.1:5000/Register" method="post">
            <div class="flex-container11">
                <p>Hello new user please enter your name and any additional information:</p>
                <p>Name:<input type="text" name="name"></p>
                <p>Username:<input type="text" name="username"></p>
                <p>Email:<input type="text" name="username"></p>
                <p>Password:<input type="text" name="password"></p>
                <input type="submit">
            </form>  
    </div>
</body>

</html>