<html> 
<title>Register</title>
<body>
    <link rel="stylesheet" href='../static/main.css'>

        <form action="http://127.0.0.1:5000/Register" method="POST">
            <div class="flex-container11">
                <p >Hello new user please enter your name and any additional information:</p>
                <p >Name: <input type="text" name="name"></p>
                <p >Username: <input class="p_align"type="text" name="user"></p>
                <p >Email: <input class="p_align2"type="text" name="mail"></p>
                <p >Password: <input class="p_align3"type="text" name="pasw"></p>
                <input class="button_adminpage"type="submit">
                <p>Already have an account?</p>
                <a href="SignIn">Sign In Here</a>
                <p>{{error}}</p>
            </div>
            </form>  
</body>
</html>