<html> 
<title>SignIn</title>
<link rel="stylesheet" href='../static/main.css'>
<body>
    <link rel="stylesheet" href='../static/main.css'>

        <form action="http://127.0.0.1:5000/SignIn" method="post">
            <div class="flex-container13">

                <h2>Please Sign in Here!</h2>

                <p >Username:   <input class="p_align" type="text" name="user"></p>
                <p >Password: <input class="p_align" type="text" name="pasw"></p>
                <input class="signin_input" type="submit">
                <p>Don't have an account?</p>
                <a href="Register">Sign Up Here</a>
          
                <p>{{error}}</p>
           
        </div>
            </form>
   
</body>

</html>