<html> 
<title>StorePage</title>
<link rel="stylesheet" href='../Static/main.css'>
<body>
    <form action="http://127.0.0.1:5000/" method="POST">
    <div class="flex-container14">
        <h1 href="" >Bike Shop</h1>
        <div class="Nav"> </div>
       
        <input type="text" placeholder="Search..">
<h3>  </h3>
    </form>
    <a href="http://127.0.0.1:5000/SignIn">Login</a>
    <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#Prebuilts">Prebuilts</a></li>
        <li><a href="#Customize">Customize</a></li>
        <li><a href="#Cart">Cart</a></li>
      </ul>
<p>here are some of our reviews</p>

{{review}}
</body>
</div>
</html>